
<div class="titulos">
    HABITACIONES
</div>

<section class="contenedor--descuentos texto--inicio">
            <div id="texto--descuento">
                <img src="https://i.pinimg.com/736x/1a/19/d3/1a19d37533485bbc93d38d4be9e674d1.jpg" alt="" class="img--habitaciones">
            
                </div>
            <div class="div--descuentos texto--inicial">
                
                Habitación Doble Estandar:
                Escritorio de trabajo, Personal Bar, Smart TV, Notebook (a pedido), Teléfono inalámbrico, Conexión Wi-Fi sin cargo, Secador y Productos de tocador, Plancha de pelo (a pedido), Caja de seguridad con capacidad para notebook, Control de temperatura individual, Equipo de yoga (a pedido) 
                
            </div>
            
</section>

<section class="contenedor--descuentos texto--inicio">

    <div class="div--descuentos texto--inicial">
        Habitación Doble Clásica:
Amplio escritorio de trabajo, Personal Bar, Smart TV, Notebook (a pedido), Teléfono inalámbrico, Conexión Wi-Fi sin cargo, Secador y Productos de tocador, Plancha de pelo (a pedido), Caja de seguridad con capacidad para notebook, Control de temperatura individual, Equipo de yoga (a pedido).     
                
    </div>
    <div id="texto--descuento">
        <img src="https://i.pinimg.com/564x/1f/2e/b4/1f2eb49e77aec20e7ff483864c6b94ba.jpg" alt="" class="img--habitaciones">
            
    </div>
            
            
</section>

<section class="contenedor--descuentos texto--inicio">
            <div id="texto--descuento">
                <img src="https://i.pinimg.com/564x/42/82/10/428210a1e1eef322e67f5eac18cf5fd2.jpg" alt="" class="img--habitaciones">
            
                </div>
            <div class="div--descuentos texto--inicial">
                
                Habitación Deluxe:
                Hidromasaje para 2 personas, Escritorios de trabajo, Diseño exclusivo, Personal bar, Cafetera Nespresso, Batas y pantuflas, 2 Smart TV, Teléfono inalámbrico, Conexión wi-fi sin cargo, Secador de pelo, Plancha de pelo (a pedido), Amenities exclusivos, Caja de seguridad para notebook, Control de temperatura individual, Equipo de yoga (a pedido). 
            </div>
            
</section>