<main>
    

    <!-- Seccion Portada -->
        <section class="contenedor--portada">
            
            <img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg" alt="EL Bazar portada" class="div__img--portada">            
            
                <div class="h1--fuente h1--posicion">
                    HOTEL MIRAMAR
                </div>                
            
                {{!-- <div class="h3--fuente h3--posicion">
                    piezas de ceramica artesanales
                </div>                --}}
    

        </section>


    <!-- Seccion Descuentos -->

        <section class="contenedor--descuentos texto--inicio">
            <div id="texto--descuento">
                <img src="https://images.pexels.com/photos/53464/sheraton-palace-hotel-lobby-architecture-san-francisco-53464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="vasija" class="img--descuentos">
            
                </div>
            <div class="div--descuentos texto--inicial">
                
                el Hotel Miramar es una manifestación de la pasión por la historia, 
                los viajes y el buen gusto. Un espacio que busca resumir la autenticidad de la ciudad, 
                donde la comodidad va de la mano con el lujo y la sensibilidad en el servicio.
                Un sitio en el que cualquiera se siente invitado de honor, con la cordialidad y la cercanía 
                que caracteriza a los cordobeses. Su ubicación lo transforma en un enclave estratégico 
                para conocer la provincia de Córdoba. Situado a solo 1 calle de la Plaza Principal de la 
                ciudad, Catedral y Cabildo, y a 4 de la Manzana Jesuítica (UNESCO). El hotel cuenta con 
                pileta al aire libre, pileta climatizada y un SPA con circuito de aguas único en la región. 
                También dispone de un restaurante propio, y servicios como estacionamiento 
                (sujeto a disponibilidad – requiere reserva previa), 
                Wifi libre en todo el edificio, desayuno, y muchos otros detalles que garantizan un servicio 
                cuidado y dedicado
            </div>
            
        </section>
    
        <section class="">       
            <hr>    
            <div>
                <div class="texto--iconos">SUSCRIBETE PARA RECIBIR NUESTRAS OFERTAS</div>
            </div>


            <div>                
                <div class="texto--iconos container">
                
                    <form action="./index.hbs" method="post">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <label for="suscripciones" class="form-label"></label>
                            <input type="email" class="form-control" id="suscripciones" name="suscripciones">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <input class="button btn btn-dark" type="submit" value="Enviar"></input>
                            </div>
                        </div>                        
                    </form>
                </div>        
            </div>

        </section>    

        <hr>  
        

    </main>